body {
    font-family: helvetica;
}

#header {
    background-color:rgb(70, 70, 240);
    height: 40px;
    text-align: center;
    line-height: 40px;
}

h1 {
    float: left;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

input{
    border-radius: 5px;
    background-color: rgb(136, 136, 255);
    color: white;
    font-weight: bold
}

button{
    border-radius: 5px ;
}

button:hover{
    cursor: pointer;
    box-shadow: 4px 4px rgb(32, 32, 32);
}

.row {
    margin: 10px 20px;
    display: inline-block;
}

#results {
    margin: 30px 20px 10px 0px;
    /* padding: 20px; */
}

p{
    margin-left: 40px;
    font-style: italic;
}

/* .resultsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

.person-row {
    margin: 12px ;
    padding: 10px;
    background-color: rgb(70, 70, 240);
    width: 30%;
    float: left;
    border: 1px solid black;
    border-radius: 0 35px 35px 0;
    color: white;
}

.person-row img {
    float: left;
    margin-right: 20px;
}

.personal-info {
    float: left;
}

.person-row > button {
   float: right; 
}

#searchBtn{
    background-color: rgb(70, 70, 240);
    color: white;
    font-weight: bolder;
    padding: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}